* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

.modal.active {
    opacity: 1;
}

.modal {
    height: 100%;
    width: 100%;
}

.modal {
    color: rgb(255,255,255);
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    left: 0;

    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 100;
}

.modal__content.active {
    opacity: 1;
}

.modal__content {
    background-color: rgb(15, 23, 42);
    border-radius: 10px;
    margin: auto;
    max-width: 500px;
    opacity: 0;
    overflow: hidden;
    padding: 20px 40px;
    position: relative;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
}

.modal__content__close {
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 0;
}

.auth-wrap {
    background-color: rgb(15, 23, 42);
}

.d-flex {
    display: flex;
}

.auth-wrap ul {
    display: flex;
    justify-content: center;
}

.auth-wrap ul li {
    font-size: 24px;
    padding: 10px 20px;
}

.auth-wrap ul li a {
    cursor: pointer;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    border-radius: 25px;
    margin: auto;
}

.form-wrap label {
    margin-bottom: 10px;
}

.form-wrap form {
    position: relative;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-wrap form .form-group {
    flex-direction: column;
}

.remember-label {
    display: flex;
    position: relative;
    padding-left: 40px;
}

.remember-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.remember-label .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .4);
    background: #eee;
    border-radius: 2px;
}

.remember-label .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    top: 45%;
    left: 50%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.remember-label input:checked~.checkmark {
    background: rgba(0, 0, 0, .4);
}
.remember-label input:checked~.checkmark::after {
    display: block;
}

.register-choose {
    margin: 20px auto;
}

.register-choose a {
    color: rgb(255,255,255);
    cursor: pointer;
}

.label-group {
    justify-content: space-between;
}

.label-group a {
    color: rgb(255,255,255);
    cursor: pointer;
    opacity: 0.65;
}

.field-wrap {
    position: relative;
}

.field-wrap span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.field-wrap input {
    border: 1px solid hsla(0, 0%, 58%, .541);
    outline-color: rgba(0, 0, 0, .4);
    border-radius: 1rem;
    height: 42px;
    padding: 4px 12px;
    transition: border .2s ease-in-out;
    font-size: 15px;
    width: 100%;
}

.field-wrap input:focus {
    border-color: rgba(0, 0, 0, .4);
}

.form-wrap form button {
    background-color: rgba(0, 0, 0, 0.793);
    border: none;
    border-radius: 20px;
    color: rgb(255,255,255);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    height: 3rem;
    margin: auto;
    width: 320px;
}